<section>
  <div class="card justify-content-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores temporibus fugiat id earum error nesciunt,
    totam velit excepturi? Facilis nemo et consequatur exercitationem, dignissimos eveniet soluta nihil, quasi deserunt
    consectetur assumenda alias fugiat animi ipsam nam? Tempore, magni dignissimos? Quod exercitationem fugit animi
    voluptas? Beatae nam corrupti id quam eum iste maxime, in, quis illo aspernatur obcaecati sunt fugit qui amet libero
    corporis sed iure iusto vitae quae exercitationem magni inventore tenetur laudantium. Rerum dolorem natus molestias
    necessitatibus aspernatur aut cumque earum quisquam in, mollitia impedit. Et explicabo itaque, error reiciendis,
    molestias repellendus in temporibus at culpa sapiente eveniet!
  </div>
</section>
