<p>our-sevices works!</p>
<section class="section services-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>What We Do</h2>
          <p>
            We provide top-quality construction services, delivering projects on
            time and within budget
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-compass-drafting"></i>
          </div>
          <div class="feature-content">
            <h5>Residential Remodelingn</h5>
            <p>
              Transform your home with our expert residential remodeling
              services. From kitchen makeovers to bathroom upgrades, we'll bring
              your dream space to life.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-trowel-bricks"></i>
          </div>
          <div class="feature-content">
            <h5>Commercial Construction</h5>
            <p>
              Our team excels in delivering top-notch commercial construction
              solutions. Whether it's an office space, retail store, or
              industrial facility, we'll build to exceed your expectations.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-person-digging"></i>
          </div>
          <div class="feature-content">
            <h5>Custom Home Builds</h5>
            <p>
              Build the home of your dreams from the ground up with our custom
              home construction expertise. We'll work closely with you to create
              a unique and personalized living space.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-hammer"></i>
          </div>
          <div class="feature-content">
            <h5>Renovation & Restoration</h5>
            <p>
              Trust us to breathe new life into your property with our
              renovation and restoration services. We'll preserve its heritage
              while enhancing its modern functionality.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-diagram-project"></i>
          </div>
          <div class="feature-content">
            <h5>Project Management</h5>
            <p>
              Simplify your construction project with our professional project
              management services. We'll handle the logistics, budgets, and
              timelines, ensuring a smooth process from start to finish.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-brands fa-pagelines"></i>
          </div>
          <div class="feature-content">
            <h5>Green Building Solutions</h5>
            <p>
              Embrace sustainability with our green building solutions. We're
              committed to eco-friendly practices, delivering energy-efficient
              and environmentally responsible construction projects.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
    </div>
  </div>
</section>
