.button-scroll-to-top {
  position: fixed;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 99999;
  right: 30px;
  bottom: 30px;
  border: none;
  margin: auto;
}

.button-scroll-to-top--show {
  opacity: 1;
}
