.navbar-nav {
  text-align: center;
}
a {
  position: relative;
  // text-decoration: none;
  color: var(--primary-color);
  font-size: 5em;
  font-weight: bolder;
  transform: scale(1);
  transform-origin: left;
  transition: ease-in-out 0.3s;
  height: auto;
}

.navbar-toggler-icon {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0px;
  height: 2em;
  width: 2em;
  border-radius: 5px;
}

a:hover {
  content: "";
  position: relative;
  left: 0;
  // bottom: 1px;
  border-radius: 5px;
  width: auto;
  height: auto;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-weight: bolder;
}

.active-link {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-weight: bolder;
  border-radius: 5px;
  height: 3rem;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
