<nav
  class="navbar navbar-expand-xxl navbar-collapse-lg navbar-collapse-md navbar-light bg-prim"
  data-toggle="collapse"
  data-target=".nav-collapse"
>
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <img
    src="assets/home/INFINITY_BUILDERS_LOGO.png"
    width="150em"
    height="150em"
    alt=""
  />
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a
        routerLink="home"
        routerLinkActive="active-link"
        class="nav-item nav-link m-3"
        href="#"
        data-toggle="collapse"
        data-target=".nav-collapse"
      >
        <h3>Home</h3>
      </a>
      <a
        routerLink="our-process"
        routerLinkActive="active-link"
        class="nav-item nav-link m-3"
        href="#"
        data-toggle="collapse"
        data-target=".nav-collapse"
      >
        <h3>Our Process</h3>
      </a>
      <a
        routerLink="our-services"
        routerLinkActive="active-link"
        class="nav-item nav-link m-3"
        href="#"
      >
        <h3>Our Services</h3>
      </a>
      <a
        routerLink="projects"
        routerLinkActive="active-link"
        class="nav-item nav-link m-3"
        href="#"
      >
        <h3>Projects</h3>
      </a>
      <a
        routerLink="contact-us"
        routerLinkActive="active-link"
        class="nav-item nav-link m-3"
        href="#"
      >
        <h3>Contact Us</h3>
      </a>
      <a
        routerLink="rates"
        routerLinkActive="active-link"
        class="nav-item nav-link m-3"
        href="#"
      >
        <h3>Rates</h3>
      </a>
    </div>
  </div>
</nav>
