.navbar-nav{
  text-align: center;
}
a {
position: relative;
// text-decoration: none;
color: var(--primary-color);
font-size: 5em;
font-weight: bolder;
transform: scale(1);
transform-origin: left;
transition: ease-in-out .30s;
height:3rem;


}

.navbar-toggler-icon  {
color: white;
background-color: white;
margin: 0px;
}

a:hover{
  content: "";
  position: relative;
  left: 0;
  // bottom: 1px;
  border-radius: 5px;
  width: auto;
  height:3rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-weight: bolder;

}


.active-link{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-weight: bolder;
  border-radius: 5px;
  height:3rem;




}
