<section>
  <div class="contact-info">
    <div class="card">
      <div class="card-body">
        <div class="row m-4">
          <div class="col-xl-4 col-md-4 col-sm-4">
            <i class="bi bi-telephone-fill" style="font-size: 5em;"></i>
            <p class="info-text">
              Contact us at +91 345378765
            </p>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-4">
            <i class="bi bi-geo-alt-fill" style="font-size: 5em;"></i>
            <p class="info-text">
               502,City Gate,Vishala,Ahmedabad
            </p>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-4">
            <i class="bi bi-envelope-at-fill" style="font-size: 5em;"></i>
            <p class="info-text">
              email us at xyz@gmail.com
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
