<section>
  <div class="card ">
    <h1 class="img-title">Projects</h1>
    <img class="project-bg-img card-top-image" src="../../../../assets/Our_Projects/projects_intro_img.jpg" alt="">
  </div>

  <div class="projects row  ">
    <div class="card col-xl-3  col-md-7  col-sm-5 m-4">
      <img class="card-img-top project-card-img " src="../../../../assets/Our_Projects/apartment-1.jpg"
        alt="turnkey_img">
      <div class="card-body ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, repudiandae.
      </div>

    </div>
    <div class="card col-xl-3  col-md-7  col-sm-5 m-4">
      <img class="card-img-top project-card-img " src="../../../../assets/Our_Projects/apartment-2.jpg"
        alt="turnkey_img">
      <div class="card-body ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, repudiandae.
      </div>

    </div>
    <div class="card col-xl-3  col-md-7  col-sm-5 m-4">
      <img class="card-img-top project-card-img " src="../../../../assets/Our_Projects/pexels-photo-5587938.jpeg"
        alt="turnkey_img">
      <div class="card-body ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, repudiandae.
      </div>

    </div>


  </div>

</section>
