.navbar-nav{
  // justify-content: center;
  text-align: center;
}
a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 2em;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.75s ease-in-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
  }
}
