<section>

  <div class="mt-3 justify-content-center">
    <h2 class="home-header">
      <i>Customized <span class="tcol-sec"> home design </span>and <span class="tcol-sec"> construction </span>on your
        own plot!</i>
    </h2>

    <div class="card-intro row">
      <div class="col-xl-4 col-md-10  m-2">
        <img class="card-img-top" src="assets/home/Gold Black Modern Real Estate Logo (1).png" height="50em" width="50em"   alt="">
      </div>
      <div class="col-xl-7 m-2">
        <div class="row mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eius porro expedita asperiores quos distinctio
          illum alias praesentium id itaque commodi, ipsum harum veniam, consequuntur sed iure quisquam, deserunt eligendi
          ab ducimus. Libero dolor quibusdam reprehenderit deserunt aliquid minima non aliquam qui cum molestiae neque quod
          amet itaque inventore nihil repellat, consectetur reiciendis labore illo, enim architecto a placeat? Illum
          distinctio, asperiores porro ullam delectus enim quam ipsam aperiam optio voluptates aut aspernatur quos quod
          fuga, repellat nemo quis non, quibusdam commodi corporis unde nesciunt numquam? Fugit voluptas cumque fuga
          accusantium, a quo quaerat! Iure consectetur eum nobis accusantium cum?
        </div>
        <div class="row">
          <button class=" intro-btn " (click)="navigatetocontactus()">
            inquire now <span><i class="bi bi-arrow-right"></i></span>
          </button>
        </div>
      </div>
    </div>

    <!-- rates header -->
    <h1 class="rates">
      Discover the Latest Home Construction Rates!
    </h1>

    <!-- rates cards -->

    <div class="row m-3">
      <div class="card col-xl-4  col-md-7  col-sm-7 m-4">
        <img class="card-img-top " src="assets/home/full_turnkey.jpg"  alt="turnkey_img">
        <div class="card-body ">
          <h3 class="card-title"> Complete Turnkey at <span class="tcol-sec"> Rs 2100</span>/Sq.ft </h3>
          <ul style="list-style-type:none;font-size: 1.5em;margin-top: 1em;">
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              All Structural works
            </li>
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              All Joinery Works
            </li>
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              Electrical & Plumbing
            </li>
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              Putty & Painting
            </li>
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              Complete Flooring
            </li>
          </ul>

        </div>
        <button class=" intro-btn mb-3 " (click)="navigatetorates()">
          Check Our Rates <span><i class="bi bi-arrow-right"></i></span>
        </button>

      </div>

      <div class="card col-xl-4 col-md-7 col-sm-7 m-4">
        <img class="card-img-top" src="assets/home/frame_only.jpg" alt="turnkey_img">
        <div class="card-body ">
          <h3 class="card-title"> Frame Only </h3>
          <ul style="list-style-type:none;font-size: 1.5em;margin-top: 1em;">
            <li>
              <i class="bi bi-caret-right-fill tcol-sec "></i>
              Foundation Works
            </li>
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              Brick Works
            </li>
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              RCC Works
            </li>
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              Plastering Works
            </li>
            <li>
              <i class="bi bi-caret-right-fill tcol-sec"></i>
              White Washing
            </li>
          </ul>
        </div>
        <button class=" intro-btn mb-3 " (click)="navigatetorates()">
          Check Our Rates <span><i class="bi bi-arrow-right"></i></span>
        </button>
      </div>
    </div>




    <h1 class="team-header">
      Our Team
    </h1>

    <div class="row">
      <div class="card col-4 m-2" style="width: 18rem;">
        <img class="team-card-img-top" src="assets/home/dummy_profile_img.png" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Joe</h3>
          <p class="card-text">Loa  rem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum expedita beatae
            aliquam fuga incidunt ex totam, pariatur nihil, maxime ipsum nemo alias cumque sapiente enim eligendi
            quaerat minima soluta nostrum sequi ad vitae magnam sint magni temporibus? Nobis cum minima minus dolore qui
            in ipsum architecto repudiandae porro, totam dignissimos.</p>
        </div>
      </div>
      <div class="card col-4 m-2" style="width: 18rem;">
        <img class="team-card-img-top" src="assets/home/dummy_profile_img.png" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Joe</h3>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum expedita beatae
            aliquam fuga incidunt ex totam, pariatur nihil, maxime ipsum nemo alias cumque sapiente enim eligendi
            quaerat minima soluta nostrum sequi ad vitae magnam sint magni temporibus? Nobis cum minima minus dolore qui
            in ipsum architecto repudiandae porro, totam dignissimos.</p>
        </div>
      </div>
      <div class="card col-4 m-2" style="width: 18rem;">
        <img class="team-card-img-top" src="assets/home/dummy_profile_img.png" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Joe</h3>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum expedita beatae
            aliquam fuga incidunt ex totam, pariatur nihil, maxime ipsum nemo alias cumque sapiente enim eligendi
            quaerat minima soluta nostrum sequi ad vitae magnam sint magni temporibus? Nobis cum minima minus dolore qui
            in ipsum architecto repudiandae porro, totam dignissimos.</p>
        </div>
      </div>
      <div class="card col-4 m-2" style="width: 18rem;">
        <img class="team-card-img-top" src="assets/home/dummy_profile_img.png" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Joe</h3>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum expedita beatae
            aliquam fuga incidunt ex totam, pariatur nihil, maxime ipsum nemo alias cumque sapiente enim eligendi
            quaerat minima soluta nostrum sequi ad vitae magnam sint magni temporibus? Nobis cum minima minus dolore qui
            in ipsum architecto repudiandae porro, totam dignissimos.</p>
        </div>
      </div>
      <div class="card col-4 m-2" style="width: 18rem;">
        <img class="team-card-img-top" src="assets/home/dummy_profile_img.png" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Joe</h3>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum expedita beatae
            aliquam fuga incidunt ex totam, pariatur nihil, maxime ipsum nemo alias cumque sapiente enim eligendi
            quaerat minima soluta nostrum sequi ad vitae magnam sint magni temporibus? Nobis cum minima minus dolore qui
            in ipsum architecto repudiandae porro, totam dignissimos.</p>
        </div>
      </div>

    </div>




  </div>
</section>
