<section>
  <div class="mt-3 justify-content-center">
    <h2 class="home-header">
      <i>Customized <span class="tcol-sec"> home design </span>and <span class="tcol-sec"> construction </span>on your
        own plot!</i>
    </h2>

    <!-- rates header -->
    <h2 class="rates">
      Discover the Latest Home Construction Rates!
    </h2>

    <!-- rates cards -->

    <div class="row">
      <div class="card col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, expedita at soluta velit quae perspiciatis
        vel fugiat magnam quam rerum. Voluptatum dignissimos debitis officiis soluta.
      </div>
      <div class="card col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, expedita at soluta velit quae perspiciatis
        vel fugiat magnam quam rerum. Voluptatum dignissimos debitis officiis soluta.
      </div>
    </div>

  </div>
</section>
