* {
  padding: none;
}

.contact-info {
  text-align: center;
  justify-content: center;
}

.info-text {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}

.grey-bg {
  background-color: #efeeef;
}

.bg-image {
  background-image: url("../../../assets/Green\ Modern\ Home\ Construction\ Logo\ \(1\).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-control {
  border: black 1.5px solid;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 95, 88, 0.25);
}

.card-body,
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submitButton {
  border: solid black 2px;
  background-color: black;
  color: white;
}

#submitButton:hover {
  background-color: white;
  color: black;
}
