body,
.infity_logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // width:   ;
  height: 100%;
  object-fit: cover;
}
html {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;
  background-color: #292c31;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.footer {
  position: relative;
  background: rgba(255, 255, 255, 1);
  background-color: #eff0f4;
  .footer-content {
    padding: 60px 0;
    ul {
      padding: 0;
      list-style: none;
    }
    .top-section {
      .row:after {
        content: "";
        position: relative;
        margin: 40px auto 0;
        @media (min-width: 480px) {
          margin: 60px auto 0;
        }
        width: 98%;
        height: 1px;
        background: #000;
        opacity: 0.1;
      }
      .col-top {
        text-align: center;
        @media (min-width: 576px) {
          text-align: inherit;
        }
        .column-head {
          font-weight: bold;
          text-transform: uppercase;
          padding-bottom: 20px;
          font-size: 14px;
        }
        .column-body {
          li {
            padding-bottom: 7px;
            &:last-child {
              padding-bottom: 0;
            }
            a {
              color: #000;
              text-decoration: none;
              transition: all 0.3s ease;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              opacity: 0.6;
              // backface-visibility: hidden;
              // -webkit-backface-visibility: hidden;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
        .follow-row {
          margin: 0;
          li {
            padding-bottom: 0;
            display: inline-block;
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
            i {
              font-size: 18px;
              transition: all 0.3s ease;
              &.fa-twitter:hover {
                color: #1da1f3;
              }
              &.fa-facebook:hover {
                color: #3b5998;
              }
              &.fa-google-plus:hover {
                color: #db4437;
              }
            }
          }
        }
      }
    }
    .middle-section {
      padding-top: 40px;
      @media (min-width: 480px) {
        padding-top: 60px;
      }
      .logo {
        float: left;
        margin-right: 6px;
        width: 100%;
        margin-bottom: 30px;
        @media (min-width: 480px) {
          margin-bottom: 0;
        }
        a {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          height: 100%;
          padding: 6px 0;
          transition: all 0.2s ease;
          @media (min-width: 480px) {
            padding: 20px 0;
          }
        }
        &-symbol {
          position: relative;
          width: 32px;
          height: 32px;
          float: left;
          margin-right: 8px;
          @media (min-width: 480px) {
            margin-right: 12px;
          }
          img {
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 9px 17px 0px rgba(31, 36, 51, 0.15),
              0px 11px 25px 0px rgba(0, 77, 64, 0.17),
              0px 5px 38px 0px rgba(51, 105, 30, 0.25);
          }
        }
        &-slogan {
          display: block;
          float: left;
          text-indent: -2px;
          line-height: 1;
          padding-top: 8px;
          @media (min-width: 480px) {
            padding-top: 6px;
          }
          span {
            font-size: 18px;
            color: rgb(31, 36, 51);
            font-weight: bold;
            text-transform: uppercase;
            @media (min-width: 480px) {
              font-size: 23px;
            }
          }
        }
      }
      h6 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0.4;
      }
      span {
        display: block;
      }
      .button {
        width: 100%;
        margin-top: 30px;
        @media (min-width: 992px) {
          margin-top: 20px;
        }
        @media (min-width: 1200px) {
          margin-top: 0;
        }

        display: block;
        border: 2px solid black;
        background-color: transparent;
        line-height: 36px;
        font-size: 11px;
        text-transform: uppercase;
        border-radius: 50px;
        color: black;
        text-align: center;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        text-decoration: none;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
  #googlemaps {
    position: relative;
    height: 300px;
    width: 100%;
    background: #f6edda;
    .centerMap {
      background-color: #fff;
      border: 2px solid #fff;
      border-radius: 3px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      margin-top: 20px;
      margin-left: 20px;
      text-align: center;
      opacity: 0.6;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: 0.8;
      }
      &-btn {
        color: rgb(25, 25, 25);
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        line-height: 38px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
