<footer class="footer mt-3">
  <div class="footer-content bg-fourth">
    <div class="top-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-top">
            <div class="column-head">
              <a
                routerLink="home"
                routerLinkActive="active-link"
                class="nav-item nav-link m-3"
                href="#"
                data-toggle="collapse"
                data-target=".nav-collapse"
              >
                <span>Home</span>
              </a>
            </div>
            <!-- <ul class="column-body">
              <li>
                <a href="#Pricing"><span>Pricing</span></a>
              </li>
              <li>
                <a href="#Free Stuff"><span>Free Stuff</span></a>
              </li>
              <li>
                <a href="#Help Center"><span>Help Center</span></a>
              </li>
            </ul> -->
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-top">
            <div class="column-head">
              <a
                routerLink="our-process"
                routerLinkActive="active-link"
                class="nav-item nav-link m-3"
                href="#"
                data-toggle="collapse"
                data-target=".nav-collapse"
              >
                <span>Our Process</span>
              </a>
            </div>
            <!-- <ul class="column-body">
              <li>
                <a href="#About Singleton"><span>About Singleton</span></a>
              </li>
              <li>
                <a href="#Jobs"><span>Jobs</span></a>
              </li>
              <li>
                <a href="#Team"><span>Team</span></a>
              </li>
            </ul> -->
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-top">
            <div class="column-head">
              <a
                routerLink="contact-us"
                routerLinkActive="active-link"
                class="nav-item nav-link m-3"
                href="#"
              >
                <span>Contact Us</span>
              </a>
            </div>
            <!-- <ul class="column-body">
              <li>
                <a href="#Get Support"><span>Get Support</span></a>
              </li>
              <li>
                <a href="#Contact Us"><span>Contact Us</span></a>
              </li>
            </ul> -->
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-top">
            <div class="column-head">
              <a
                routerLink="rates"
                routerLinkActive="active-link"
                class="nav-item nav-link m-3"
                href="#"
              >
                <span>Rates</span>
              </a>
            </div>
            <!-- <ul class="column-body">
              <li>
                <a href="#Prvacy Policy"><span>Prvacy Policy</span></a>
              </li>
              <li>
                <a href="#Terms & Condition"
                  ><span>Terms &amp; Condition</span></a
                >
              </li>
              <li>
                <a href="#Blog"><span>Blog</span></a>
              </li>
            </ul> -->
          </div>

          <div
            class="col-lg-2 col-md-3 col-sm-4 col-12 offset-lg-2 offset-md-9 offset-sm-4 col-top"
          >
            <!-- <div class="column-head"><span>Follow Us</span></div>
              <ul class="column-body follow-row">
                <li>
                  <a href="#twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#google-plus"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul> -->
          </div>
        </div>
      </div>
    </div>
    <div class="middle-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-12 mb-4">
            <div class="text-center">
              <!-- <div class=""> -->
              <img
                class="infity_logo"
                src="../../../assets/home/INFINITY_BUILDERS_LOGO.png"
                width="150em"
                height="150em"
              />
              <!-- </div> -->
              <span class="m-2">
                <h5><b>INFINITY BUILDERS</b></h5>
              </span>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <h6>Address</h6>
            <span>718,City Gate,</span><span>Vishala,Ahmedabad</span
            ><span>+91 345378765</span>
          </div>

          <div class="col-lg-4 col-md-4 col-6">
            <h6>Email</h6>
            <span>xyz@gmail.com</span>
          </div>
          <div class="col-lg-2 col-md-4 col-6 offset-lg-0 offset-md-4 offset-3">
            <div class="button" (click)="navigatetocontactus()">Contact Us</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="googlemaps"></div>
  <app-scroll-top></app-scroll-top>
</footer>
