@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  --primary-color:white;
  --secondary-color:black;
}


.bg-prim{
background-color: var(--primary-color);
}

.tcol-sec{
  color: var(--secondary-color);
}

.bg-sec{
  background-color: var(--secondary-color);
}

body::-webkit-scrollbar {
  display: none;
}
