<section class="our-blog p-0 m-0 bg-silver">
  <div class="container work-process pb-5 pt-5">
    <div class="title mb-5 text-center">
      <h3>Our <span class="site-color">Few Process</span></h3>
    </div>
    <!-- ============ step 1 =========== -->
    <div class="row process-flow">
      <div class="row project inspection">
        <div class="col-md">
          <div class="process-box card bgshadow process-left card">
            <div class="card-title d-flex flex-row">
              <div class="process-step m-3">
                <h3 class="m-0 p-0">
                  Step <span style="font-size: 1em">1</span>
                </h3>
                <h2 class="m-0 p-0">Project inspection</h2>
              </div>
            </div>
            <div class="row m-1">
              <div class="row d-flex flex-row m-1 card-body">
                <div class="col-md-4 col-sm-4 col-xs- card-body">
                  <img
                    src="../../../../assets/Our Process/porject_estimate.jpg"
                    class="card-img bgshadow"
                    height="300em"
                    width="300em"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-sm-7 col-xs-4 txtbg card-body">
                  <p class="font-size card-text">
                    We appreciate your interest in our services. To initiate the
                    process of crafting your dream home, we kindly request a
                    payment of Rs. 25,000/-. Upon receipt, our dedicated team
                    will promptly arrange a visit to your proposed work site.
                    During this visit, we will engage in a comprehensive
                    discussion to understand your specific home requirements and
                    carefully evaluate your budget. .
                  </p>
                  <div class="process-point-right"></div>
                </div>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>

      <div class="row Dwelling planning">
        <div class="col-md">
          <div class="process-box card bgshadow process-left card">
            <div class="card-title d-flex flex-row-reverse">
              <div class="process-step m-3">
                <h3 class="m-0 p-0">
                  Step <span style="font-size: 1em">2</span>
                </h3>
                <h2 class="m-0 p-0">Dwelling planning</h2>
              </div>
            </div>
            <div class="row m-1">
              <div class="row d-flex flex-row-reverse m-1 card-body">
                <div class="col-md-4 col-sm-4 col-xs- card-body">
                  <img
                    src="../../../assets/Our Process/PANNING_IMG.jpg"
                    class="card-img bgshadow"
                    height="300em"
                    width="300em"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-sm-7 col-xs-4 txtbg card-body">
                  <p class="font-size card-text">
                    Following the site visit and discussions, we will design
                    your home to meet your requirements, considering plot size,
                    shape, and budget. You will have the opportunity to visually
                    experience your complete home through our advanced virtual
                    reality walk-through, at no extra cost.
                  </p>
                  <div class="process-point-right"></div>
                </div>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>

      <div class="row Project estimate">
        <div class="col-md">
          <div class="process-box card bgshadow process-left card">
            <div class="card-title d-flex flex-row">
              <div class="process-step m-3">
                <h3 class="m-0 p-0">
                  Step <span style="font-size: 1em">3</span>
                </h3>
                <h2 class="m-0 p-0">Project Estimate</h2>
              </div>
            </div>
            <div class="row m-1">
              <div class="row d-flex flex-row m-1 card-body">
                <div class="col-md-4 col-sm-4 col-xs- card-body">
                  <img
                    src="../../../assets/Our Process/project_estimate_img.jpg"
                    class="card-img bgshadow"
                    height="300em"
                    width="300em"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-sm-7 col-xs-4 txtbg card-body">
                  <p class="font-size card-text">
                    Upon your full satisfaction with the home design, we will
                    provide you with a comprehensive quote for the proposed
                    construction of your residence.
                  </p>
                  <div class="process-point-right"></div>
                </div>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>
    </div>

    <!-- ============ step 2 =========== -->
    <div class="row">
      <div class="col-md-5">
        <div class="process-point-left"></div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div
          class="process-box card p-3 bgshadow process-right"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <div class="row">
            <div class="col-md-5">
              <div class="process-step">
                <h3 class="m-0 p-0">Step</h3>
                <h2 class="m-0 p-0">2</h2>
              </div>
            </div>
            <div class="col-md-12">
              <h5>Dwelling planning</h5>
              <p>
                Following the site visit and discussions, we will design your
                home to meet your requirements, considering plot size, shape,
                and budget. You will have the opportunity to visually experience
                your complete home through our advanced virtual reality
                walk-through, at no extra cost.
              </p>
            </div>
          </div>
          <div class="process-line-r"></div>
        </div>
      </div>
    </div>
    <!-- ============ step 3 =========== -->
    <div class="row m-5">
      <div class="col-md-5">
        <div
          class="process-box card p-3 bgshadow process-left"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <div class="row">
            <div class="col-md-5">
              <div class="process-step">
                <h3 class="m-0 p-0">Step</h3>
                <h2 class="m-0 p-0">3</h2>
              </div>
            </div>
            <div class="col-md-12">
              <h5>Project estimate</h5>
              <p>
                Upon your full satisfaction with the home design, we will
                provide you with a comprehensive quote for the proposed
                construction of your residence.
              </p>
            </div>
          </div>
          <div class="process-line-l"></div>
        </div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-5">
        <div class="process-point-right"></div>
      </div>
    </div>
    <!-- ============ step 4 =========== -->
    <div class="row">
      <div class="col-md-5">
        <div class="process-point-left"></div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div
          class="process-box card p-3 bgshadow process-right"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <div class="row">
            <div class="col-md-5">
              <div class="process-step">
                <h3 class="m-0 p-0">Step</h3>
                <h2 class="m-0 p-0">4</h2>
              </div>
            </div>
            <div class="col-md-12">
              <h5>Assessment</h5>
              <p>
                With your home design and our construction quote in hand, we
                kindly request your presence to review and finalize the
                contract. As part of this process, we extend a warm invitation
                for a half-day tour to visit our nearby ongoing and completed
                work sites. This tour will enable you to directly assess and
                evaluate the quality of our projects before making a final
                decision on the construction contract.
              </p>
            </div>
          </div>
          <div class="process-line-r"></div>
        </div>
      </div>
    </div>
    <!-- ============ step 3 =========== -->
    <div class="row">
      <div class="col-md-5">
        <div
          class="process-box card p-3 bgshadow process-left"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <div class="row">
            <div class="col-md-5">
              <div class="process-step">
                <h3 class="m-0 p-0">Step</h3>
                <h2 class="m-0 p-0">5</h2>
              </div>
            </div>
            <div class="col-md-12">
              <h4>Final resolution</h4>
              <p>
                Upon engaging our services for home construction, we will
                diligently handle all necessary documentation, including any
                required bank loan paperwork. Additionally, we will proactively
                facilitate the acquisition of building permits and ensure the
                necessary GSECL supply from the appropriate government offices,
                ensuring a seamless commencement of your construction project.
              </p>
            </div>
          </div>
          <div class="process-line-l"></div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="process-point-right process-last"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div
          class="at-work-process position-relative overflow-hidden text-center justify-content-center"
        >
          <div class="at-work-process-text">
            <span class="at-work-process-number">01</span>
            <span class="at-work-process-number-text">Strategy</span>
            <div class="at-separator-thick"></div>
          </div>
          <div class="at-work-process-details">
            <i class="fa fa-diamond"></i
            ><span
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              deleniti incidunt recusandae quisquam odio ex id ea quos aliquid,
              at excepturi atque enim ut quas veniam! Ipsum sed nihil eligendi
              ab illum dolorem sunt, cupiditate nesciunt libero illo quidem
              blanditiis incidunt, perspiciatis tempore assumenda ratione qui
              ducimus facere. Ratione, fuga deserunt! Reprehenderit, aperiam non
              corrupti inventore dolorem a nobis. Illo excepturi nam amet
              dolores maxime modi, veritatis quod corrupti ab sequi accusamus id
              non laudantium magni illum. Dolor iste officia, dignissimos
              accusantium porro numquam in vitae, placeat, fuga impedit iure
              recusandae libero quos. Illum adipisci similique ipsa inventore
              vel numquam voluptate, cum, eligendi provident esse magni, nostrum
              unde. Exercitationem nobis soluta quaerat id, architecto
              temporibus nemo cupiditate magnam rerum odit, culpa praesentium
              porro voluptate omnis molestias deserunt laudantium sunt eum
              dolores numquam fugit nostrum in! Dolorem natus amet maiores quod
              magnam labore corrupti est officia, aspernatur dicta praesentium
              voluptatem cumque maxime enim, eaque odio, totam accusantium? Unde
              dolores porro neque distinctio earum molestiae culpa, ratione
              ipsum quod, quam dolor. Perspiciatis animi tempora eveniet
              pariatur sequi adipisci maiores, debitis eaque provident
              accusantium possimus soluta ratione voluptates. Eos laudantium
              nobis, unde facilis aspernatur, mollitia, eaque deserunt ab rem
              repellendus tenetur cum dignissimos.</span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- ============ -->
  </div>
</section>
