<section class="our-process p-0 m-0 bg-silver body-bg">
  <div class="container-fluid title mb-5 text-center title-bg">
    <h3>Our Few Process</h3>
  </div>
  <div class="work-process pb-5 pt-5">
    <!-- ============ step 1 =========== -->
    <div class="row process-flow">
      <div class="row project inspection">
        <div class="col-md">
          <div class="process-box card bgshadow process-left card">
            <div class="card-title d-flex flex-row">
              <div class="process-step m-3">
                <h3 class="m-0 p-0">
                  Step <span style="font-size: 1em">1</span>
                </h3>
                <h2 class="m-0 p-0">Project inspection</h2>
              </div>
            </div>
            <div class="row m-1">
              <div class="row d-flex flex-row m-1 card-body">
                <div class="col-md-4 col-sm-4 card-image card-body">
                  <img
                    src="../../../assets/Our Process/project_inspection_img2.jpg"
                    class="card-img bgshadow"
                    height="300em"
                    width="300em"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-sm-7 col-xs-4 txtbg card-body">
                  <p class="font-size card-text">
                    We appreciate your interest in our services. To initiate the
                    process of crafting your dream home, we kindly request a
                    payment of Rs. 25,000/-. Upon receipt, our dedicated team
                    will promptly arrange a visit to your proposed work site.
                    During this visit, we will engage in a comprehensive
                    discussion to understand your specific home requirements and
                    carefully evaluate your budget. .
                  </p>
                  <div class="process-point-right"></div>
                </div>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>

      <div class="row Dwelling planning">
        <div class="col-md">
          <div class="process-box card bgshadow process-left card">
            <div class="card-title d-flex flex-row-reverse">
              <div class="process-step m-3">
                <h3 class="m-0 p-0">
                  Step <span style="font-size: 1em">2</span>
                </h3>
                <h2 class="m-0 p-0">Dwelling planning</h2>
              </div>
            </div>
            <div class="row m-1">
              <div class="row d-flex flex-row-reverse m-1 card-body">
                <div class="col-md-4 col-sm-4 card-image card-body">
                  <img
                    src="../../../assets/Our Process/project_panning_img2.jpg"
                    class="card-img bgshadow"
                    height="300em"
                    width="300em"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-sm-7 col-xs-4 txtbg card-body">
                  <p class="font-size card-text">
                    Following the site visit and discussions, we will design
                    your home to meet your requirements, considering plot size,
                    shape, and budget. You will have the opportunity to visually
                    experience your complete home through our advanced virtual
                    reality walk-through, at no extra cost.
                  </p>
                  <div class="process-point-right"></div>
                </div>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>

      <div class="row Project estimate">
        <div class="col-md">
          <div class="process-box card bgshadow process-left card">
            <div class="card-title d-flex flex-row">
              <div class="process-step m-3">
                <h3 class="m-0 p-0">
                  Step <span style="font-size: 1em">3</span>
                </h3>
                <h2 class="m-0 p-0">Project Estimate</h2>
              </div>
            </div>
            <div class="row m-1">
              <div class="row d-flex flex-row m-1 card-body">
                <div class="col-md-4 col-sm-4 card-image card-body">
                  <img
                    src="../../../assets/Our Process/project_estimate_img.jpg"
                    class="card-img bgshadow"
                    height="300em"
                    width="300em"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-sm-7 col-xs-4 txtbg card-body">
                  <p class="font-size card-text">
                    Upon your full satisfaction with the home design, we will
                    provide you with a comprehensive quote for the proposed
                    construction of your residence.
                  </p>
                  <div class="process-point-right"></div>
                </div>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>

      <div class="row Assessment">
        <div class="col-md">
          <div class="process-box card bgshadow process-left card">
            <div class="card-title d-flex flex-row-reverse">
              <div class="process-step m-3">
                <h3 class="m-0 p-0">
                  Step <span style="font-size: 1em">4</span>
                </h3>
                <h2 class="m-0 p-0">Assessment</h2>
              </div>
            </div>
            <div class="row m-1">
              <div class="row d-flex flex-row-reverse m-1 card-body">
                <div class="col-md-4 col-sm-4 card-image card-body">
                  <img
                    src="../../../assets/Our Process/assessment.jpg"
                    class="card-img bgshadow"
                    height="300em"
                    width="300em"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-sm-7 col-xs-4 txtbg card-body">
                  <p class="font-size card-text">
                    With your home design and our construction quote in hand, we
                    kindly request your presence to review and finalize the
                    contract. As part of this process, we extend a warm
                    invitation for a half-day tour to visit our nearby ongoing
                    and completed work sites. This tour will enable you to
                    directly assess and evaluate the quality of our projects
                    before making a final decision on the construction contract.
                  </p>
                  <div class="process-point-right"></div>
                </div>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
      </div>

      <div class="row Final Resolution">
        <div class="col-md">
          <div class="process-box card bgshadow process-left card">
            <div class="card-title d-flex flex-row">
              <div class="process-step m-3">
                <h3 class="m-0 p-0">
                  Step <span style="font-size: 1em">5</span>
                </h3>
                <h2 class="m-0 p-0">Final Resolution</h2>
              </div>
            </div>
            <div class="row m-1">
              <div class="row d-flex flex-row m-1 card-body">
                <div class="col-md-4 col-sm-4 card-image card-body">
                  <img
                    src="../../../assets/Our Process/final_resolution.jpg"
                    class="card-img bgshadow"
                    height="300em"
                    width="300em"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-sm-7 col-xs-4 txtbg card-body">
                  <p class="font-size card-text">
                    Upon engaging our services for home construction, we will
                    diligently handle all necessary documentation, including any
                    required bank loan paperwork. Additionally, we will
                    proactively facilitate the acquisition of building permits
                    and ensure the necessary GSECL supply from the appropriate
                    government offices, ensuring a seamless commencement of your
                    construction project.
                  </p>
                  <div class="process-point-right"></div>
                </div>
              </div>
            </div>
            <div class="process-line-l"></div>
          </div>
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>
    </div>

    <!-- ============ step 2 =========== -->

    <!-- ============ step 4 =========== -->

    <!-- ============ step 3 =========== -->

    <!-- ============ -->
  </div>
</section>
